/* --------------footer----------------- */
.footer-container{
    background-color: #212329;
    padding-bottom: 4rem;
}
.footer{
    width: 80%;
    height: 40vh;
    background-color: #212329;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}
.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer i{
    display: inline;
    flex-direction: column;
    margin-right: 4rem;
}